In [2]:
import pandas as pd
import json
from sqlalchemy import create_engine

df = pd.read_excel('C:/Users/Alexander Michelsen/Python Projects/Mini Project 1 - data wrangling/data sets/Car Crash Dataset.xlsx')

# Perform operations on the DataFrame
print(df.head())

   Year  Month  Day Weekend?    Hour Collision Type         Injury Type  \
0  2015      1    5  Weekday     0.0          2-Car   No injury/unknown
1  2015      1    6  Weekday  1500.0          2-Car   No injury/unknown
2  2015      1    6  Weekend  2300.0          2-Car  Non-incapacitating
3  2015      1    7  Weekend   900.0          2-Car  Non-incapacitating
4  2015      1    7  Weekend  1100.0          2-Car   No injury/unknown

                          Primary Factor      Reported_Location   Latitude  \
0  OTHER (DRIVER) - EXPLAIN IN NARRATIVE             1ST & FESS  39.159207
1                  FOLLOWING TOO CLOSELY          2ND & COLLEGE  39.161440
2              DISREGARD SIGNAL/REG SIGN  BASSWOOD & BLOOMFIELD  39.149780
3          FAILURE TO YIELD RIGHT OF WAY         GATES & JACOBS  39.165655
4          FAILURE TO YIELD RIGHT OF WAY                  W 3RD  39.164848

   Longitude
0 -86.525874
1 -86.534848
2 -86.568890
3 -86.575956
4 -86.579625

In [3]:
# count the missing values
df.isnull().sum()

Year                    0
Month                   0
Day                     0
Weekend?               68
Hour                  225
Collision Type          6
Injury Type             0
Primary Factor       1121
Reported_Location      35
Latitude               30
Longitude              30
dtype: int64

In [6]:
df.shape

(53943, 11)

In [8]:
df.describe()

,Year,Month,Day,Hour,Latitude,Longitude
count,53943.000000,53943.000000,53943.000000,53718.000000,53913.000000,53913.000000
mean,2008.968059,6.662162,4.196912,1347.265349,35.582109,-78.619224
std,3.789760,3.514630,1.909440,531.654039,11.289883,24.957587
min,2003.000000,1.000000,1.000000,0.000000,0.000000,-88.959213
25%,2006.000000,4.000000,3.000000,1000.000000,39.142048,-86.551520
50%,2009.000000,7.000000,4.000000,1400.000000,39.164430,-86.530992
75%,2012.000000,10.000000,6.000000,1700.000000,39.173344,-86.508288
max,2015.000000,12.000000,7.000000,2300.000000,41.228665,86.596363

In [12]:
# drop and check again with the functions from above
df = df.dropna()
df.sample(5)

,Year,Month,Day,Weekend?,Hour,Collision Type,Injury Type,Primary Factor,Reported_Location,Latitude,Longitude
25295,2009,1,4,Weekday,1500.0,2-Car,No injury/unknown,OTHER (VEHICLE) - EXPLAIN IN NARRATIVE,GOURLEY PIKE,39.185072,-86.538931
22644,2010,4,4,Weekday,1100.0,2-Car,No injury/unknown,FAILURE TO YIELD RIGHT OF WAY,CURRY PIKE & W 3RD,39.164480,-86.560150
49870,2003,3,3,Weekday,1600.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,MILO B SAMPSON & SR4546,39.186352,-86.522192
24457,2010,3,4,Weekday,1900.0,2-Car,No injury/unknown,OTHER (DRIVER) - EXPLAIN IN NARRATIVE,JUDAH & SR446S,0.000000,0.000000
18750,2011,8,3,Weekday,1800.0,2-Car,No injury/unknown,UNSAFE BACKING,E 3RD ST,39.164512,-86.550624

In [20]:
import pandas as pd

# Read Excel file and replace missing values with 0
df2 = pd.read_excel('C:/Users/Alexander Michelsen/Python Projects/Mini Project 1 - data wrangling/data sets/Car Crash Dataset.xlsx')
df2.fillna(0, inplace=True)

# Display the first few rows of the DataFrame
print(df2.head())

   Year  Month  Day Weekend?    Hour Collision Type         Injury Type  \
0  2015      1    5  Weekday     0.0          2-Car   No injury/unknown
1  2015      1    6  Weekday  1500.0          2-Car   No injury/unknown
2  2015      1    6  Weekend  2300.0          2-Car  Non-incapacitating
3  2015      1    7  Weekend   900.0          2-Car  Non-incapacitating
4  2015      1    7  Weekend  1100.0          2-Car   No injury/unknown

                          Primary Factor      Reported_Location   Latitude  \
0  OTHER (DRIVER) - EXPLAIN IN NARRATIVE             1ST & FESS  39.159207
1                  FOLLOWING TOO CLOSELY          2ND & COLLEGE  39.161440
2              DISREGARD SIGNAL/REG SIGN  BASSWOOD & BLOOMFIELD  39.149780
3          FAILURE TO YIELD RIGHT OF WAY         GATES & JACOBS  39.165655
4          FAILURE TO YIELD RIGHT OF WAY                  W 3RD  39.164848

   Longitude
0 -86.525874
1 -86.534848
2 -86.568890
3 -86.575956
4 -86.579625

In [30]:
df['Weekend?'].value_counts().index[0]

'Weekday'

In [32]:
df.isnull().sum()

Year                 0
Month                0
Day                  0
Weekend?             0
Hour                 0
Collision Type       0
Injury Type          0
Primary Factor       0
Reported_Location    0
Latitude             0
Longitude            0
dtype: int64

In [34]:
df.dtypes

Year                   int64
Month                  int64
Day                    int64
Weekend?              object
Hour                 float64
Collision Type        object
Injury Type           object
Primary Factor        object
Reported_Location     object
Latitude             float64
Longitude            float64
dtype: object

In [ ]:
type: object
# assign a type
df["Weekend?"] = df["Weekend?"].astype('category')
df["Collision Type"] = df["Collision Type"].astype('category')
df["sex"] = df["sex"].astype('category')